<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--to make mobile-friendly by setting width of webpage=device-width-->
    <title>Url Shortener</title>
    <link rel="icon" href="/images/favicon.ico">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Paytone+One|Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">URL Shortener</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/archives">Archives</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/about">About Me</a>
          </li>
        </ul>
      </div>
  </nav>
    <div class="container">
      <div class="card w-75 shorten-card">
        <div class="card-body shorten-card-body">
          <h5 class="card-title shorten-card-title">Shortened URL generated</h5>
          <p id="copy"class="card-text shorten-card-text"><a href="<%=shortenedUrl%>"target="_blank"><%=shortenedUrl%></a></p>
          <a href="#" class="btn btn-primary copy" onClick="copyToClipboard('#copy')">Copy</a>
          <br>
          <p class="card-text">Original URL : <a href="<%=longUrl%>"target="_blank"><%=longUrl%></a></p>
        </div>
      </div>
    </div>
    <footer>
      <hr>
      <p> © Hardik Joshi 2020</p>
    </footer>
  </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
  <%# this prevents form resubmission prompt%>
  <script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
    </script>
</html>
